:root {
    --red: #ff0000;
    --green: #00ff00;
    --blue: #0000ff;
    --white: #ffffff;
    --black: #000000;
}

*::selection {
    background-color: var(--black);
    color: var(--white);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    height: 100%;
    user-select: none;
}

a {
    text-decoration: none;
}

.emp {
    background: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 200% 50%;
    }
}