:root {
    --red: #ff0000;
    --green: #00ff00;
    --blue: #0000ff;
    --white: #ffffff;
    --black: #131313;
}

*::selection {
    background-color: var(--black);
    color: var(--white);
}

/*lösch das wenn themes implementiert sind*/
body {
    --bgc: #fff;
    --bgca: #f0f0f5;
    --tc: #131313;
    --olc: #131313;
    --bsc: #0000003f;
    --bc: #fff;
}

body.light {
    --bgc: #fff;
    --bgca: #f0f0f5;
    --tc: #131313;
    --olc: #131313;
    --bsc: #0000003f;
    --bc: #fff;
}

body.dark {
    --bgc: #131313;
    --bgca: #1f1f1f;
    --tc: #fff;
    --olc: #fff;
    --bsc: #000000;
    --bc: #131313;
}

body {
    background-color: var(--bgc);
    color: var(--tc);
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
    height: 100%;
    user-select: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

button {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-color: var(--tc);
    border: 3px solid var(--tc);
    color: var(--bgc);
    border-radius: 5px;
    padding: 3px 6px;
}

button:hover {
    color: var(--blue);
    border: 3px solid var(--blue);
    background-color: var(--bgc);
}

input {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-color: var(--bgc);
    border: 3px solid var(--tc);
    color: var(--tc);
    border-radius: 5px;
    padding: 3px 6px;
    outline: none;
    width: 200px;
    min-height: 20px;
}

input:focus {
    border: 3px solid var(--blue);
    color: var(--blue);
}

p {
    font-size: 1.3em;
}

hr {
    border: 2px solid var(--tc);
    border-radius: 5px;
    margin: 20px 0;
}

.title {
    color: var(--blue);
}

.title hr {
    border: 2px solid var(--blue);
    border-radius: 5px;
    margin: 10px 0;
}

.title h1 {
    margin: -10px 0 20px 0;
    font-size: 2.5em;
}

textarea {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    background-color: var(--bgc);
    border: 3px solid var(--tc);
    color: var(--tc);
    border-radius: 5px;
    padding: 3px 6px;
    outline: none;
    resize: vertical;
    width: 200px;
    min-height: 20px;
}

textarea:focus {
    border: 3px solid var(--blue);
    color: var(--blue);
}

h1 {
    font-size: 1.75em;
}

.buttonbar {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}