#main {
    flex: 1;
    padding: 20px 100px;
}

#cc {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px 10px 5px 15px;
    position: sticky;
    top: 5px;
    margin: 5px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 3px solid var(--tc);
}

#header-buttons {
    display: flex;
    gap: 10px;
}

#header span {
    font-size: 3em;
}

#header a {
    text-decoration: none;
    color: var(--tc);
}

#header a:hover {
    color: var(--blue);
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    font-size: 1.25em;
    margin: 5px;
    padding: 10px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 3px solid var(--tc);
}