#main {
    flex: 1;
    padding: 30px 60px;
}

#cc {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    padding: 0 40px;
    position: sticky;
    z-index: 1000;
    background-color: var(--bgc);
    border: 1px solid var(--bc);
    box-shadow: 0px 0px 30px var(--bsc);
}

#header img {
    filter: brightness(1) invert(100%);
    height: 70px
}

#header span {
    font-size: 3em;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 1px solid var(--bc);
    box-shadow: 0px 0px 30px var(--bsc);
}