#main {
    flex: 1;
    padding: 30px 60px;
}

#cc {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px 15px;
    position: sticky;
    top: 10px;
    margin: 10px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 1px solid var(--bc);
    box-shadow: 0px 0px 10px var(--bsc);
}

#header span {
    font-size: 2em;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 1px solid var(--bc);
    box-shadow: 0px 0px 10px var(--bsc);
}