@if (overlayState.show) {
<div class="overlay-backdrop">
    @if (overlayState.type === "style") {
    <div id="style-overlay" class="overlay">
        <div class="title">
            <hr>
            <h1>Ansicht</h1>
        </div>
        <div id="theme-selection" class="selection">
            <h2>Farbmodus:</h2>
            <div class="options">
                <label>
                    <input type="radio" name="theme" value="light" [checked]="selectedTheme === 'light'"
                        (change)="changeTheme('light')">
                    Light
                </label>
                <label>
                    <input type="radio" name="theme" value="dark" [checked]="selectedTheme === 'dark'"
                        (change)="changeTheme('dark')">
                    Dark
                </label>
            </div>
        </div>
        <hr>
        <div id="contrast-selection" class="selection">
            <h2>Kontrastauswahl:</h2>
            <div class="options">
                <label>
                    <input type="radio" name="contrast" [checked]="selectedContrast === 'contrast'"
                        (change)="changeContrast('contrast')">
                    An
                </label>
                <label>
                    <input type="radio" name="contrast" [checked]="selectedContrast === 'no-contrast'"
                        (change)="changeContrast('no-contrast')">
                    Aus
                </label>
            </div>
        </div>
        <button (click)="close()" class="buttonaction">Schließen</button>
    </div>
    } @else if (overlayState.type === "error") {
    <div id="error-overlay" class="overlay">
        <div class="title">
            <hr>
            <h1>Fehler</h1>
        </div>
        <p>{{ overlayState.message }}</p>
        <button (click)="close()" class="button-primary">Schließen</button>
    </div>
    } @else if (overlayState.type === "success") {
    <div id="success-overlay" class="overlay">
        <div class="title">
            <hr>
            <h1>Erfolg</h1>
        </div>
        <p>{{ overlayState.message }}</p>
        <button (click)="close()" class="button-primary">Schließen</button>
    </div>
    } @else if (overlayState.type === "info") {
    <div id="info-overlay" class="overlay">
        <div class="title">
            <hr>
            <h1>Info</h1>
        </div>
        <p>{{ overlayState.message }}</p>
        <button (click)="close()" class="button-primary">Schließen</button>
    </div>
    }
</div>
}